
@{
    ViewData["Title"] = "Read From Json";
}

<h1>Read in data</h1>

<p>
    Data has been imported fom the file. Note that the cars always will be added, even if there are similar ones already in the system.
</p>